/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
main {
    padding: 20px;
}

.card {
    margin: 0 auto;

    margin-bottom: 20px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    width: 100%;

    width: 33.3%;
}

.card-img {
    display: block;
    border-radius: 8px;
    width: 100%;
}

.card-body {
    padding: 20px;
}

.title {
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
}

.btn {
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    background-color: rgb(43, 43, 255);
    color: white;
}
*/




/*
div {
    padding: 50px;
}

p {
    margin-bottom: 50px;
    padding: 24px;
    width: 100%;
    background-color: red;
}
*/

/*
p {
    margin: 0px auto;
    width: 500px;

    padding: 24px;
    background-color: red;
}
*/

/*
p {
    margin: 0 25%;
    width: 50%;

    padding: 24px;
    background-color: red;
}
*/


nav {
}

ul {
    list-style: inside katakana;
}