/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*/


/*
p {
    max-width: 600px;
    width: 100%;

    min-width: 600px;

    background-color: red;
}
*/

/*
div {
    width: 50%;
    border: 2px solid red;
}

.img-fluid {
    max-width: 100%;
}
*/


/*
.paraBelli {
    padding: 24px;
    background-color: blue;
}

.paraBelli:hover {
    background-color: red;
}
*/

/*
input {
    margin: 48px;
}

input:focus {
    background-color: yellow;
}
*/

:root {
    /* i colori del tema */
    --accent-color: #33ff00;

    /* font-size di base
    font-size: 16px;
    */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
a {
    color: var(--accent-color);
}
*/

/* 
p {
    coefficiente x il font-size dell'elemento stesso
    padding: 3em;
    font-size: 10px;

    word-spacing: 0.25em;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    font-size: 30px;
}
*/

h1 {
    margin-bottom: 1.5rem;
    font-size: 4.5rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

p {
    margin-bottom: 1rem;
    font-size: 2rem;
}