* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
.container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;

    height: 500px;

    background-color: blue;
}
*/

/*
.container {
    display: flex;
    flex-wrap: wrap;

    background-color: blue;
}

.item {
    width: 100%;
    width: 50%;
    width: 33.3%;

    border: 2px solid red;
    padding: 24px;
    color: white;
}
*/


/* 
.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    border: 2px solid red;
    width: 50%;
}
*/



/*
a {
    display: inline-block;
    padding: 32px;

    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;

    background-color: red;
}

.navbar-brand {
    font-size: 1.75rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
}
*/


/*
a {
    display: inline-block;
    padding: 32px;

    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;

    background-color: red;
}

.navbar-brand {
    font-size: 1.75rem;
}

.navbar-menu {
    display: flex;

    list-style: none;
}

.navbar-menu-item {
    display: flex;
    align-items: center;
}
*/

a {
    display: inline-block;
    padding: 32px;

    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;

    background-color: rgb(0, 0, 182);
}

.navbar-actions {
    display: flex;
    align-items: center;
}

.btn-outline {
    margin: 0 8px;
    border: 2px solid red;
    border-radius: 24px;
    padding: 8px 24px;

    background-color: transparent;
    color: white;

    cursor: pointer;
}

.btn-outline:hover {
    background-color: red;
}

.btn {
    margin: 0 8px;
    border: none;
    border-radius: 24px;
    padding: 8px 24px;

    background-color: red;
    color: white;

    cursor: pointer;
}

.btn:hover {
    background-color: rgb(255, 121, 121);
}