/*
* {
    color: red;
}

h2 {
    color: red;
}

.red-text {
    color: red;
}

#title {
    color: red;
}
*/

/*
p {
    color: red;
    color: rgb(255, 0, 0);
    color: #ff0000;
}
*/

/*
p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;

    text-align: center;
}
*/


/*
p {
    color: red;
    color: blue;
}
*/


/*
p {
    color: red;
}

p {
    color: blue;
}
*/

/*
* {

}

p {
    color: red !important;
}

.blue-text {
    color: blue;
}

#paraBello {
    color: yellow;
}
*/


* {
    font-family: "Montserrat", "Arial", sans-serif;
}

h1 {
    font-family: "Roboto", "Arial", sans-serif;
}