/*
div {
    width: 600px;
    height: 800px;
    background-color: blue;
}

p {
    height: 50%;
    background-color: red;
}
*/

/*
p {
    width: 50vw;
    height: 50vh;
    background-color: red;
}
*/


/* 

p {
    margin: 40px;





    border-width: 10px;
    border-style: solid;    none solid
    border-color: blue;

    shorthand
    border: border-width border-style border-color;
    border: 10px solid blue;




    border-radius: 24px;



    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 60px;
    padding-left: 70px;

    shorthand
    padding: 40px 50px 60px 70px;
    padding: 40px 60px;     y x
    padding: 40px;          all
    padding: 40px;
    background-color: red;
}
*/


/*
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
}

.card {
    margin: 24px;

    box-shadow: 0px 0px 32px -4px rgba(255, 255, 255, 0.382);
    
    box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 18px;
    padding: 32px;

    color: white;
}
*/


/* CSS Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    padding: 24px;
}

p {
    margin: 50px; 
    border: 10px solid blue;
    padding: 24px;

    width: 100%;

    background-color: red;
}
*/


/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
}

.container {
    padding: 32px;
}

.card {
    margin-bottom: 32px;

    box-shadow: 0px 0px 32px -4px rgba(255, 255, 255, 0.382);
    
    box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 18px;
    padding: 32px;

    width: 100%;

    color: white;
}
*/

/* 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
    padding: 48px;

    background-color: red;
}
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;

    margin: 48px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.4);
    padding: 12px 24px;
    background-color: #ff9800;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: white;

    cursor: pointer;
}
