* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
}

body {
    background-image: linear-gradient(135deg, rgba(252, 70, 107, 1) 0%, rgba(63, 94, 251, 1) 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.glass {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.28);
}

.box {
    padding: 3rem;
    color: white;
}

.box > h2 {
    margin-bottom: 3rem;

    text-align: center;
    font-weight: 300;
    font-size: 1.75rem;
}

.box input, .box button {
    display: block;

    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;

    color: white;
}
