/* da 0px di screen width in su */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}




.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: calc(1 / 12 * 100%);
}

.col-2 {
    width: calc(2 / 12 * 100%);
}

.col-3 {
    width: calc(3 / 12 * 100%);
}

.col-4 {
    width: calc(4 / 12 * 100%);
}

.col-5 {
    width: calc(5 / 12 * 100%);
}

.col-6 {
    width: calc(6 / 12 * 100%);
}

.col-7 {
    width: calc(7 / 12 * 100%);
}

.col-8 {
    width: calc(8 / 12 * 100%);
}

.col-9 {
    width: calc(9 / 12 * 100%);
}

.col-10 {
    width: calc(10 / 12 * 100%);
}

.col-11 {
    width: calc(11 / 12 * 100%);
}

.col-12 {
    width: calc(12 / 12 * 100%);
}

/* da schermi small (smartphone in landscape) in su */
@media screen and (min-width: 576px) {
    .col-sm-6 {
        width: calc(6 / 12 * 100%);
    }

    .col-sm-7 {
        width: calc(7 / 12 * 100%);
    }

    .col-sm-8 {
        width: calc(8 / 12 * 100%);
    }
}

/* da schermi medium (tablet in portrait) in su */
@media screen and (min-width: 768px) {
    .col-md-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-md-6 {
        width: calc(6 / 12 * 100%);
    }

    .col-md-7 {
        width: calc(7 / 12 * 100%);
    }

    .col-md-8 {
        width: calc(8 / 12 * 100%);
    }
}

/* da schermi large (tablet in landscape) in su */
@media screen and (min-width: 992px) {

    .col-lg-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-lg-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-lg-6 {
        width: calc(6 / 12 * 100%);
    }

    .col-lg-7 {
        width: calc(7 / 12 * 100%);
    }

    .col-lg-8 {
        width: calc(8 / 12 * 100%);
    }
}


